/animate.html
/cssbox.html
/fle.html
/fonts.html
/food.html
/form.html
/grid.css
/grid.html
/img
/index.html
/javascript
/list.html
/mybio.html
/MYNTRA
/mypic.jpg
/nav
/nav.html
/palu.html
/practice.html
/project
/project.html
/projectcss.html
/ps.html
/save.jpeg
/Screenshot (207).png
/Screenshot (208).png
/Screenshot (210).png
/style.css
/tables.html